/*HOME PAGE*/
.main-home{
    background-color: rgb(0, 0, 22);
    width: 100%;
    overflow: hidden;
    text-align: center;
    color: rgba(255, 255, 255, 0.897);
}

.home-landing{
    margin: 7% auto;
}

.brand-handwriting{
    font-family: 'Dancing Script', cursive;
}

.home-landing-image{
    width: 100% !important;
    height: 80vh !important;
    position: relative;
}
.quote-home{
    color: rgba(255, 255, 255, 0.788);
    font-size: 2em;
    margin-top: 3%;
}

.hr-white-home{
    border-color: #fff;
    width: 5%;
}

.home-get-started{
    margin-top: 3%;
}

.blockquote

.home-welcome-message{
    color: rgba(0, 0, 0, 0.705);
}

/********/

.auth-page p, label, .card-header{
    color: initial;
    font-size: 1.2em !important;
}
.fas{
    font-size: 3em !important;
}

.header{
    height: 30vh !important;
}

.header h1{
    padding-top: 10vh;
}

/* FORM STYLES*/
.mood-output{
    font-size: 2em;
}

label{
    font-size: 1.2em;
    font-family: 'Source Sans Pro', sans-serif;
}

/* TEXT STYLES*/
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.7px;
}

h1{
    font-size: 3.6em;
}

    h1.h1-large{
        font-size: 4.5em;
    }

p, a, .btn, option{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.3px;
}

a.btn, .btn{
    font-size: 1.2em;
}

.record-heading{
    font-size: 4.5rem;
}

/*COMPARE PAGE*/
.background-good{
    background: rgb(176,255,197);
    background: radial-gradient(circle, rgba(176,255,197,1) 10%, rgba(176,255,197,0.8463586118040967) 90%)
}

.background-bad{
    background: rgb(255,173,173);
    background: radial-gradient(circle, rgba(255,173,173,1) 10%, rgba(255,173,173,0.8743698162858894) 90%); 
}

/* RECORD LANDING PAGE*/
.record-landing{
    margin-top: 18%;
}

/* DASHBOARD STYLES*/
.dashboard-strip{
    padding: 2%;
    color: rgba(0, 0, 0, 0.705);
}
.dashboard-goal-strip{
    background-color: rgba(156, 217, 255, 0.568);
    border: 1px solid rgba(125, 205, 255, 0.5);
}

.dashboard-record-strip{
    
    background-color: rgba(218, 239, 252, 0.568);
}

.icon-large{
    font-size: 4.3em !important;
}

.dashboard-row-spacing{
    margin: 7% auto !important;
}

/* COACH STYLES */
.coach-wrapper{
    position: fixed;
    width: 250px;
    height: auto;
    background-color: red;
}

.coach{
    background-image: url('../img/coach.jpg') !important;
}

.feedback {
    color: white;
    padding: 10px 20px;    
    width: 100%;
  }
  
  #mybutton {
    position: fixed;
    bottom: 3%;
    width: 5%;
    height: 160px;
    right: 3%;
    background-image: url('../img/coach-clipart-transparent.png');
    background-size: contain;
    background-repeat: no-repeat;

  }

  .test{
      display: block;
  }